# ============================================
# SERVEUR
# ============================================
PORT=4000
NODE_ENV=development

# ============================================
# BASE DE DONNÉES
# ============================================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=aidora

# ============================================
# JWT
# ============================================
JWT_SECRET=changez_cette_cle_par_une_longue_et_securisee
JWT_EXPIRES_IN=1d

# ============================================
# FRONTEND
# ============================================
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173

# ============================================
# EMAIL
# ============================================
EMAIL_PROVIDER=mock
EMAIL_ACTIF=true
EMAIL_FROM=Aidora <noreply@aidora.cm>

# Gmail / SMTP
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465
# SMTP_SECURE=true
# SMTP_USER=
# SMTP_PASSWORD=

# SendGrid
# SENDGRID_API_KEY=

# ============================================
# SMS
# ============================================
SMS_PROVIDER=mock
SMS_ACTIF=true

# Orange SMS Cameroun
# ORANGE_SMS_TOKEN=
# ORANGE_SMS_SENDER=AIDORA

# MTN Cameroun
# MTN_SMS_API_KEY=

# Nexah
# NEXAH_USER=
# NEXAH_PASSWORD=

# Twilio
# TWILIO_ACCOUNT_SID=
# TWILIO_AUTH_TOKEN=
# TWILIO_PHONE_NUMBER=

Vrnh929uhKxFbLQB
BREVO_API_KEY=xkeysib-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
 ORANGE_SMS_TOKEN=Basic VUNsNDBPSWN3ZllJMnlkZ0dMR1F4UjJ4QXlSRmRNb2k6QzlnTE51Q2xLNVJXVVkyeTg3QVB3RTJ5Q0psUzIxemlxOE51RU1QdVZPdGc=
