-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: aidora
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activations_compte`
--

DROP TABLE IF EXISTS `activations_compte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activations_compte` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `code` varchar(10) NOT NULL,
  `date_generation` datetime DEFAULT current_timestamp(),
  `date_expiration` datetime NOT NULL,
  `date_activation` datetime DEFAULT NULL,
  `statut` enum('EN_ATTENTE','UTILISE','EXPIRE') DEFAULT 'EN_ATTENTE',
  PRIMARY KEY (`id`),
  KEY `idx_activations_user` (`utilisateur_id`,`statut`),
  CONSTRAINT `fk_activations_user` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activations_compte`
--

LOCK TABLES `activations_compte` WRITE;
/*!40000 ALTER TABLE `activations_compte` DISABLE KEYS */;
/*!40000 ALTER TABLE `activations_compte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `administrateurs`
--

DROP TABLE IF EXISTS `administrateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrateurs` (
  `id` int(11) NOT NULL,
  `niveau_acces` varchar(50) DEFAULT 'STANDARD',
  `date_derniere_connexion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `fk_administrateurs_user` FOREIGN KEY (`id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrateurs`
--

LOCK TABLES `administrateurs` WRITE;
/*!40000 ALTER TABLE `administrateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `administrateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `demandes_sang`
--

DROP TABLE IF EXISTS `demandes_sang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `demandes_sang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `etablissement_demandeur_id` int(11) NOT NULL,
  `etablissement_destinataire_id` int(11) DEFAULT NULL,
  `groupe_sanguin` enum('A','B','AB','O') NOT NULL,
  `rhesus` enum('POSITIF','NEGATIF') NOT NULL,
  `type_produit` enum('SANG_TOTAL','GLOBULES_ROUGES','PLAQUETTES','PLASMA') NOT NULL,
  `quantite_demandee` int(11) NOT NULL,
  `urgence` tinyint(1) DEFAULT 0,
  `motif` varchar(255) DEFAULT NULL,
  `statut` enum('EN_ATTENTE','EN_COURS','ACCEPTEE','REJETEE','LIVREE','ANNULEE') DEFAULT 'EN_ATTENTE',
  `personnel_traitant_id` int(11) DEFAULT NULL,
  `date_demande` datetime DEFAULT current_timestamp(),
  `date_traitement` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_demandes_demandeur` (`etablissement_demandeur_id`),
  KEY `fk_demandes_destinataire` (`etablissement_destinataire_id`),
  KEY `fk_demandes_personnel` (`personnel_traitant_id`),
  KEY `idx_demandes_statut_urgence` (`statut`,`urgence`),
  CONSTRAINT `fk_demandes_demandeur` FOREIGN KEY (`etablissement_demandeur_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_demandes_destinataire` FOREIGN KEY (`etablissement_destinataire_id`) REFERENCES `etablissements` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_demandes_personnel` FOREIGN KEY (`personnel_traitant_id`) REFERENCES `personnels` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demandes_sang`
--

LOCK TABLES `demandes_sang` WRITE;
/*!40000 ALTER TABLE `demandes_sang` DISABLE KEYS */;
/*!40000 ALTER TABLE `demandes_sang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distributions`
--

DROP TABLE IF EXISTS `distributions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distributions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `demande_id` int(11) NOT NULL,
  `quantite` int(11) NOT NULL,
  `date_distribution` datetime DEFAULT current_timestamp(),
  `date_reception` datetime DEFAULT NULL,
  `statut` enum('EN_TRANSIT','LIVREE','CONFIRMEE','ANNULEE') DEFAULT 'EN_TRANSIT',
  `personnel_distributeur_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_distributions_demande` (`demande_id`),
  KEY `fk_distributions_personnel` (`personnel_distributeur_id`),
  CONSTRAINT `fk_distributions_demande` FOREIGN KEY (`demande_id`) REFERENCES `demandes_sang` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_distributions_personnel` FOREIGN KEY (`personnel_distributeur_id`) REFERENCES `personnels` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distributions`
--

LOCK TABLES `distributions` WRITE;
/*!40000 ALTER TABLE `distributions` DISABLE KEYS */;
/*!40000 ALTER TABLE `distributions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donneurs`
--

DROP TABLE IF EXISTS `donneurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donneurs` (
  `id` int(11) NOT NULL,
  `groupe_sanguin` enum('A','B','AB','O') NOT NULL,
  `rhesus` enum('POSITIF','NEGATIF') NOT NULL,
  `date_naissance` date DEFAULT NULL,
  `sexe` enum('M','F') DEFAULT NULL,
  `disponible` tinyint(1) DEFAULT 0,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `etablissement_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_donneurs_dispo` (`etablissement_id`,`disponible`,`groupe_sanguin`,`rhesus`),
  CONSTRAINT `fk_donneurs_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_donneurs_user` FOREIGN KEY (`id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donneurs`
--

LOCK TABLES `donneurs` WRITE;
/*!40000 ALTER TABLE `donneurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `donneurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dons`
--

DROP TABLE IF EXISTS `dons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donneur_id` int(11) NOT NULL,
  `personnel_id` int(11) NOT NULL,
  `etablissement_id` int(11) NOT NULL,
  `date_don` date NOT NULL,
  `type_don` varchar(50) DEFAULT 'SANG_TOTAL',
  `quantite` decimal(6,2) NOT NULL,
  `statut` enum('ENREGISTRE','VALIDE','REJETE') DEFAULT 'ENREGISTRE',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_dons_personnel` (`personnel_id`),
  KEY `fk_dons_etablissement` (`etablissement_id`),
  KEY `idx_dons_donneur_date` (`donneur_id`,`date_don`),
  CONSTRAINT `fk_dons_donneur` FOREIGN KEY (`donneur_id`) REFERENCES `donneurs` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_dons_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_dons_personnel` FOREIGN KEY (`personnel_id`) REFERENCES `personnels` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dons`
--

LOCK TABLES `dons` WRITE;
/*!40000 ALTER TABLE `dons` DISABLE KEYS */;
/*!40000 ALTER TABLE `dons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etablissements`
--

DROP TABLE IF EXISTS `etablissements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etablissements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `type` enum('HOPITAL','BANQUE_DE_SANG') NOT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `ville` varchar(100) DEFAULT NULL,
  `region` varchar(100) DEFAULT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `statut` enum('EN_ATTENTE_VERIFICATION','ACTIF','REJETE','SUSPENDU') DEFAULT 'EN_ATTENTE_VERIFICATION',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_etablissements_geo` (`latitude`,`longitude`),
  KEY `idx_etablissements_statut` (`statut`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etablissements`
--

LOCK TABLES `etablissements` WRITE;
/*!40000 ALTER TABLE `etablissements` DISABLE KEYS */;
/*!40000 ALTER TABLE `etablissements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluations_ia`
--

DROP TABLE IF EXISTS `evaluations_ia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluations_ia` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donneur_id` int(11) NOT NULL,
  `date_evaluation` datetime DEFAULT current_timestamp(),
  `reponses` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`reponses`)),
  `resultat` enum('ELIGIBLE','NON_ELIGIBLE','A_VERIFIER') NOT NULL,
  `analyse` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_evaluations_donneur_date` (`donneur_id`,`date_evaluation`),
  CONSTRAINT `fk_evaluations_donneur` FOREIGN KEY (`donneur_id`) REFERENCES `donneurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluations_ia`
--

LOCK TABLES `evaluations_ia` WRITE;
/*!40000 ALTER TABLE `evaluations_ia` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluations_ia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_poches`
--

DROP TABLE IF EXISTS `historique_poches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_poches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `poche_id` int(11) NOT NULL,
  `ancien_statut` varchar(30) DEFAULT NULL,
  `nouveau_statut` varchar(30) NOT NULL,
  `date_changement` datetime DEFAULT current_timestamp(),
  `commentaire` varchar(255) DEFAULT NULL,
  `utilisateur_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_historique_user` (`utilisateur_id`),
  KEY `idx_historique_poche_date` (`poche_id`,`date_changement`),
  CONSTRAINT `fk_historique_poche` FOREIGN KEY (`poche_id`) REFERENCES `poches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_historique_user` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_poches`
--

LOCK TABLES `historique_poches` WRITE;
/*!40000 ALTER TABLE `historique_poches` DISABLE KEYS */;
/*!40000 ALTER TABLE `historique_poches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `journal_audit`
--

DROP TABLE IF EXISTS `journal_audit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `journal_audit` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) DEFAULT NULL,
  `action` varchar(150) NOT NULL,
  `date_action` datetime DEFAULT current_timestamp(),
  `ancienne_valeur` text DEFAULT NULL,
  `nouvelle_valeur` text DEFAULT NULL,
  `adresse_ip` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_audit_user_date` (`utilisateur_id`,`date_action`),
  CONSTRAINT `fk_audit_user` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `journal_audit`
--

LOCK TABLES `journal_audit` WRITE;
/*!40000 ALTER TABLE `journal_audit` DISABLE KEYS */;
/*!40000 ALTER TABLE `journal_audit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mouvements_stock`
--

DROP TABLE IF EXISTS `mouvements_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mouvements_stock` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `stock_id` int(11) NOT NULL,
  `type_mouvement` enum('ENTREE','SORTIE','AJUSTEMENT') NOT NULL,
  `quantite` int(11) NOT NULL,
  `date_mouvement` datetime DEFAULT current_timestamp(),
  `motif` varchar(255) DEFAULT NULL,
  `utilisateur_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_mouvements_user` (`utilisateur_id`),
  KEY `idx_mouvements_stock_date` (`stock_id`,`date_mouvement`),
  CONSTRAINT `fk_mouvements_stock` FOREIGN KEY (`stock_id`) REFERENCES `stocks` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_mouvements_user` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mouvements_stock`
--

LOCK TABLES `mouvements_stock` WRITE;
/*!40000 ALTER TABLE `mouvements_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `mouvements_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `titre` varchar(150) NOT NULL,
  `message` text NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `date_envoi` datetime DEFAULT current_timestamp(),
  `lue` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_notifications_user_lue` (`utilisateur_id`,`lue`),
  CONSTRAINT `fk_notifications_user` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personnels`
--

DROP TABLE IF EXISTS `personnels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personnels` (
  `id` int(11) NOT NULL,
  `fonction` varchar(100) DEFAULT NULL,
  `etablissement_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_personnels_etablissement` (`etablissement_id`),
  CONSTRAINT `fk_personnels_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_personnels_user` FOREIGN KEY (`id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personnels`
--

LOCK TABLES `personnels` WRITE;
/*!40000 ALTER TABLE `personnels` DISABLE KEYS */;
/*!40000 ALTER TABLE `personnels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poches`
--

DROP TABLE IF EXISTS `poches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `poches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `don_id` int(11) NOT NULL,
  `code_poche` varchar(50) NOT NULL,
  `groupe_sanguin` enum('A','B','AB','O') NOT NULL,
  `rhesus` enum('POSITIF','NEGATIF') NOT NULL,
  `type_produit` enum('SANG_TOTAL','GLOBULES_ROUGES','PLAQUETTES','PLASMA') NOT NULL,
  `volume` decimal(6,2) NOT NULL,
  `date_collecte` date NOT NULL,
  `date_peremption` date NOT NULL,
  `date_vente` date DEFAULT NULL,
  `prix_vente` decimal(10,2) DEFAULT NULL,
  `statut` enum('EN_CONTROLE','DISPONIBLE','RESERVEE','VENDUE','DISTRIBUEE','PERIMEE','REJETEE') DEFAULT 'EN_CONTROLE',
  `etablissement_id` int(11) NOT NULL,
  `personnel_responsable_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code_poche` (`code_poche`),
  KEY `fk_poches_don` (`don_id`),
  KEY `fk_poches_personnel` (`personnel_responsable_id`),
  KEY `idx_poches_dispo` (`etablissement_id`,`statut`,`groupe_sanguin`,`rhesus`,`type_produit`),
  KEY `idx_poches_peremption` (`date_peremption`),
  CONSTRAINT `fk_poches_don` FOREIGN KEY (`don_id`) REFERENCES `dons` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_poches_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_poches_personnel` FOREIGN KEY (`personnel_responsable_id`) REFERENCES `personnels` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poches`
--

LOCK TABLES `poches` WRITE;
/*!40000 ALTER TABLE `poches` DISABLE KEYS */;
/*!40000 ALTER TABLE `poches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rapports`
--

DROP TABLE IF EXISTS `rapports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rapports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `personnel_id` int(11) NOT NULL,
  `type` varchar(50) NOT NULL,
  `date_generation` datetime DEFAULT current_timestamp(),
  `contenu` longtext DEFAULT NULL,
  `format_export` enum('PDF','EXCEL','CSV') DEFAULT 'PDF',
  PRIMARY KEY (`id`),
  KEY `fk_rapports_personnel` (`personnel_id`),
  CONSTRAINT `fk_rapports_personnel` FOREIGN KEY (`personnel_id`) REFERENCES `personnels` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rapports`
--

LOCK TABLES `rapports` WRITE;
/*!40000 ALTER TABLE `rapports` DISABLE KEYS */;
/*!40000 ALTER TABLE `rapports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rendez_vous`
--

DROP TABLE IF EXISTS `rendez_vous`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rendez_vous` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donneur_id` int(11) NOT NULL,
  `etablissement_id` int(11) NOT NULL,
  `date_rendez_vous` date NOT NULL,
  `heure_rendez_vous` time NOT NULL,
  `statut` enum('PLANIFIE','CONFIRME','ANNULE','HONORE') DEFAULT 'PLANIFIE',
  `date_creation` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_rdv_etablissement` (`etablissement_id`),
  KEY `idx_rdv_donneur_statut` (`donneur_id`,`statut`),
  CONSTRAINT `fk_rdv_donneur` FOREIGN KEY (`donneur_id`) REFERENCES `donneurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_rdv_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rendez_vous`
--

LOCK TABLES `rendez_vous` WRITE;
/*!40000 ALTER TABLE `rendez_vous` DISABLE KEYS */;
/*!40000 ALTER TABLE `rendez_vous` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sollicitations`
--

DROP TABLE IF EXISTS `sollicitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sollicitations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `donneur_id` int(11) NOT NULL,
  `personnel_id` int(11) NOT NULL,
  `date_sollicitation` datetime DEFAULT current_timestamp(),
  `message` text DEFAULT NULL,
  `motif` varchar(255) DEFAULT NULL,
  `statut` enum('ENVOYEE','ACCEPTEE','REFUSEE','EXPIREE') DEFAULT 'ENVOYEE',
  PRIMARY KEY (`id`),
  KEY `fk_sollicitations_personnel` (`personnel_id`),
  KEY `idx_sollicitations_donneur_statut` (`donneur_id`,`statut`),
  CONSTRAINT `fk_sollicitations_donneur` FOREIGN KEY (`donneur_id`) REFERENCES `donneurs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_sollicitations_personnel` FOREIGN KEY (`personnel_id`) REFERENCES `personnels` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sollicitations`
--

LOCK TABLES `sollicitations` WRITE;
/*!40000 ALTER TABLE `sollicitations` DISABLE KEYS */;
/*!40000 ALTER TABLE `sollicitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statistiques`
--

DROP TABLE IF EXISTS `statistiques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistiques` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `etablissement_id` int(11) DEFAULT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `nombre_dons` int(11) DEFAULT 0,
  `nombre_donneurs` int(11) DEFAULT 0,
  `nombre_poches` int(11) DEFAULT 0,
  `nombre_demandes` int(11) DEFAULT 0,
  `taux_satisfaction` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_statistiques_etablissement` (`etablissement_id`),
  KEY `idx_statistiques_periode` (`date_debut`,`date_fin`),
  CONSTRAINT `fk_statistiques_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statistiques`
--

LOCK TABLES `statistiques` WRITE;
/*!40000 ALTER TABLE `statistiques` DISABLE KEYS */;
/*!40000 ALTER TABLE `statistiques` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statistiques_personnel`
--

DROP TABLE IF EXISTS `statistiques_personnel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistiques_personnel` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `personnel_id` int(11) NOT NULL,
  `etablissement_id` int(11) NOT NULL,
  `periode` enum('JOURNALIER','HEBDOMADAIRE','MENSUEL','GLOBAL') NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date NOT NULL,
  `nombre_dons_enregistres` int(11) DEFAULT 0,
  `nombre_donneurs_enregistres` int(11) DEFAULT 0,
  `nombre_poches_generees` int(11) DEFAULT 0,
  `nombre_poches_vendues` int(11) DEFAULT 0,
  `nombre_poches_distribuees` int(11) DEFAULT 0,
  `nombre_poches_perimees` int(11) DEFAULT 0,
  `nombre_demandes_traitees` int(11) DEFAULT 0,
  `nombre_sollicitations_envoyees` int(11) DEFAULT 0,
  `volume_sanguin_collecte` decimal(8,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `fk_stats_personnel_etablissement` (`etablissement_id`),
  KEY `idx_stats_personnel_periode` (`personnel_id`,`periode`,`date_debut`),
  CONSTRAINT `fk_stats_personnel` FOREIGN KEY (`personnel_id`) REFERENCES `personnels` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_stats_personnel_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statistiques_personnel`
--

LOCK TABLES `statistiques_personnel` WRITE;
/*!40000 ALTER TABLE `statistiques_personnel` DISABLE KEYS */;
/*!40000 ALTER TABLE `statistiques_personnel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks`
--

DROP TABLE IF EXISTS `stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `etablissement_id` int(11) NOT NULL,
  `groupe_sanguin` enum('A','B','AB','O') NOT NULL,
  `rhesus` enum('POSITIF','NEGATIF') NOT NULL,
  `type_produit` enum('SANG_TOTAL','GLOBULES_ROUGES','PLAQUETTES','PLASMA') NOT NULL,
  `quantite` int(11) DEFAULT 0,
  `seuil_alerte` int(11) DEFAULT 5,
  `date_mise_a_jour` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_stock` (`etablissement_id`,`groupe_sanguin`,`rhesus`,`type_produit`),
  CONSTRAINT `fk_stocks_etablissement` FOREIGN KEY (`etablissement_id`) REFERENCES `etablissements` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks`
--

LOCK TABLES `stocks` WRITE;
/*!40000 ALTER TABLE `stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `telephone` varchar(20) NOT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `role` enum('DONNEUR','PERSONNEL_BANQUE','PERSONNEL_HOPITAL','ADMINISTRATEUR') NOT NULL,
  `statut_compte` enum('ACTIF','INACTIF','BLOQUE') DEFAULT 'INACTIF',
  `superviseur_id` int(11) DEFAULT NULL,
  `date_creation` datetime DEFAULT current_timestamp(),
  `date_modification` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `telephone` (`telephone`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_utilisateurs_email` (`email`),
  KEY `idx_utilisateurs_role` (`role`),
  KEY `fk_utilisateurs_superviseur` (`superviseur_id`),
  CONSTRAINT `fk_utilisateurs_superviseur` FOREIGN KEY (`superviseur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-17 17:47:07
